// scss-lint:disable ColorVariable
@import 'bourbon/bourbon';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Rubik:300,400|Rubik+Mono+One');

//  ----------------------------------------------------
//
// 	 PyCon KE 2018 Site Styles
//   Author      : Paul Bombo
//   Updated     : 20-September-2018
//
//  -----------------------------------------------------


//	Colours
$pycon-dark-blue: #2D2546;
$pycon-2018-blue: #0C1E31;
$pycon-accent-blue: #6262E8;
$pycon-pink: #F16A7A;
$purple: #300625;
$denim: #728abe;

//Primary Font Stack
$primary-font-stack: 'Rubik', "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-stack: 'Rubik Mono One', "Helvetica Neue", Helvetica, Arial, sans-serif;
$nav-stack: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$libre-heading-stack: "Libre Baskerville", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article-stack: "Georgia", "Times New Roman", serif;
$open-sans-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$source-sans-stack: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

//* Default Normalize Styles
@import 'styles/defaults';

//* Grid
@import 'styles/grid';

//* Buttons
@import 'styles/buttons';

// ==========================================================================
//   App styles
// ==========================================================================

//* Main Common Styles
@import 'styles/common';

//* Mobile Styles
@import 'styles/mobile';

//* Desktop Styles
@import 'styles/desktop';
